html {
    width: auto;
}
body {
    background: url("../img/dirtyBackground.jpg");
}
#mainSection {

}
.whiteText {
    color: #ffffff;
}
.imgSize {
    width: 25%;
}
#mainSection .carousel-inner {
    width: 75%;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.marginTop15 {
    margin-top: 15px;
}
.marginTop30 {
    margin-top: 30px;
}
.marginBottom30 {
    margin-bottom: 30px;
}