html {
    width: auto;
}
body {
    background: url("../img/dirtyBackground.jpg");
}
#navbarNav {
    position: absolute;
    width: 100%;
    text-shadow: 2px 2px orange;
}
#burgerMenu {
    display: none;
}
#burgerMenu .bar1, #burgerMenu .bar2, #burgerMenu .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
#burgerMenu.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
#burgerMenu.change .bar2 {
    opacity: 0;
}
#burgerMenu.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -7px);
}
#smallMenu {
    display: none;
}
#smallMenu div {
    display: block;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.mobileMenu a {
    font-size: 16px;
    color: #fff;
    border: 3px solid;
}
.hide {
    display: none !important;
}
.no-padding {
    padding: 0;
}
.left-right-margin0 {
    margin-left: 0;
    margin-right: 0;
}
#mainSection {
    position: relative;
    z-index: -1;
}
.whiteText, .close:focus, .close:hover{
    color: #ffffff;
}
.imgSize {
    width: 25%;
}
#mainSection .carousel-inner {
    width: 100%;
}
.carousel-inner {
    height: 75vh;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.marginLeft10 {
    margin-left: 10px;
}
.marginLeft15 {
    margin-left: 15px;
}
.marginTop15 {
    margin-top: 15px;
}
.marginTop30 {
    margin-top: 30px;
}
.marginBottom0 {
    margin-bottom: 0;
}
.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom30 {
    margin-bottom: 30px;
}
.marginBottom50 {
    margin-bottom: 50px;
}
.marginBottom100 {
    margin-bottom: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #d3d3d3;
    font-weight: bold;
    text-decoration: underline;
}
.separeLine {
    color: #fff;
    border: 1px solid;
}
.thumbnailImg {
    width: 100%;
}
#kraft, #cardio, #bar {
    height: 160px;
}
.thumbnail:hover {
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 0.75;
}
.modalImg {
    width: 100%;
    margin-bottom: 15px;
}
.table {
    font-size: 20px;
}

.agbs {
    background:    #fff;
    background:    -webkit-linear-gradient(#000000, #ffffff 50%, #000000);
    background:    linear-gradient(#000000, #ffffff 50%, #000000);
    border:        1px solid #fff;
    border-radius: 10px;
    box-shadow:    2px 2px #000000;
    padding:       12px 24px;
    color:         #000000;
    display:       inline-block;
    font:          normal 700 26px/1 "Roboto", sans-serif;
    text-align:    center;
    text-shadow:   2px 2px #ffffff;
}

.modal-content {
    background: url("../img/dirtyBackground.jpg");
    border: 1px solid #fff;
}

.titleSeparLine {
    color: #fff;
    border: 0.5px solid;
    width: 60%;
}

.instagram {
    width: 154px;
    height: 50px;
}

.imageColumn {
    float: left;
    width: 33.33%;
}

.contactBox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.footer-info {
    background-color: #1B1B1E;
    color: white;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-device-width : 900px) {
    .prev {
        left: 5px;
    }
    .next {
        right: 5px;
    }
    nav ul.flexing-container {
        display: none;
    }
    #burgerMenu {
        display: block;
    }
    #smallMenu {
        display: block;
        width: 100%;
        position: relative;
        top: 55px;
        margin-bottom: -10px;
    }
    .logo {
        width: 50%;
    }
    .fadeInUpBig {
        width: 100%;
    }
    #mainSection {
        height: 250px;
        position: relative;
        top: 60px;
    }
    .thumbnail {
        margin-top: 15px;
    }
    #kraft, #cardio, #bar {
        height: unset;
    }
    .table, .mobileFont {
        font-size: 17px;
    }
    #contactArea {
        margin-bottom: 30px;
    }
    .googleMap {
        width: 100%;
        height: 100%;
    }
    .footer-info {
        justify-content: center;
    }
    .instagram {
        margin-bottom: 15px;
    }
    .facebooklogo {
        margin-top: 15px;
    }
}

@media only screen and (max-device-width : 360px) {
    .mobileMenu a {
        font-size: 14px;
        border: 2px solid;
    }
    .animated {
        margin-top: 50px;
    }
    .gymTitle {
        margin-bottom: 10px;
    }
    #kraft, #cardio, #bar {
        height: unset;
    }
    .table, .mobileFont {
        font-size: 14px;
    }
    .instagram {
        width: 110px;
        height: 36px;
    }
    .facebooklogo {
        width: 100%;
    }
}